/* UserList.css */

.table-container .table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.table-container  .table th,
.table-container  .table td {
  text-align: left;
  padding: 16px;
}

.table-container  .table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.btn-update{
  cursor: pointer;
  color: #FFC312;
}

.btn-delete{
  cursor: pointer;
  color: #EA2027;
}